{% extends "base.html" %}

{% block content%}

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
              <li class="inline-flex items-center">
                <a href="{% url 'dashboard' %}" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                  <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Inicio
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <a class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Curriculum Vitae</a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Configurar Privacidad</span>
                </div>
              </li>
            </ol>
        </nav>
        <div class="flex items-center justify-between">
            <h1 class="mb-2 text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Configuración de Privacidad</h1>        </div>
    </div>
    
</div>

<div class="grid grid-cols-1 px-4 xl:grid-cols-2 xl:gap-4">

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
        <div class="flow-root">
            <h3 class="text-xl font-semibold dark:text-white">Información Personal</h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Selecciona que datos quieres que sean visibles para la consulta</p>
            <div class="divide-y divide-gray-200 dark:divide-gray-700">
                <!-- Item 1 -->
                <div class="flex items-center justify-between py-5">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Cédula</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Número de identificación</div>
                    </div>
                    <label for="company-news" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="company-news" name="cedula_visible" class="sr-only" 
                        {% if user.docente.privacidad.cedula_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 2 -->
                <div class="flex items-center justify-between py-3">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Número de teléfono</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Muestra un número de teléfono de contacto</div>
                    </div>
                    <label for="account-activity" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="account-activity" name="num_telefono_visible" class="sr-only" 
                        {% if user.docente.privacidad.num_telefono_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 3 -->
                <div class="flex items-center justify-between py-3">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Correo electrónico</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Muestra algún correo disponible</div>
                    </div>
                    <label for="meetups" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="meetups" name="correo_visible" class="sr-only" 
                        {% if user.docente.privacidad.correo_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 4 -->
                <div class="flex items-center justify-between mb-4 pt-3">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Categoria</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Muestra que tipo de docente eres</div>
                    </div>
                    <label for="new-messages" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="new-messages" name="categoria_visible" class="sr-only" 
                        {% if user.docente.privacidad.categoria_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 5 -->
                <div class="flex items-center justify-between mb-4 pt-3">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Tipo de contrato</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Información referente a tu contratación</div>
                    </div>
                    <label for="new-contract" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="new-contract" name="tipo_contrato_visible" class="sr-only" 
                        {% if user.docente.privacidad.tipo_contrato_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 6 -->
                <div class="flex items-center justify-between pt-3">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Fecha de contratación</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Información referente a tu contratación</div>
                    </div>
                    <label for="new-date" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="new-date" name="fecha_contratacion_visible" class="sr-only" 
                        {% if user.docente.privacidad.fecha_contratacion_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
        <div class="flow-root">
            <h3 class="text-xl font-semibold dark:text-white">Redes Sociales</h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Permite visualizar tus redes sociales a personas interesadas</p>
            <div class="divide-y divide-gray-200 dark:divide-gray-700">
                <!-- Item 1 -->
                <div class="flex items-center justify-between py-9">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Linkedln</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Muestra tu red social orientada a tu identidad profesional, negocios y empleo</div>
                    </div>
                    <label for="rating-reminders" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="rating-reminders" name="linkedin_visible"  class="sr-only" 
                        {% if user.docente.cv_docente.privacidad.linkedin_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 2 -->
                <div class="flex items-center justify-between py-9">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">X (Twitter)</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Muestra contenido asociado a grupos de amigos, familiares o compañeros de trabajo</div>
                    </div>
                    <label for="item-update" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="item-update" name="x_visible" class="sr-only" 
                        {% if user.docente.cv_docente.privacidad.x_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 3 -->
                <div class="flex items-center justify-between py-9">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">GitHub</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Comparte tu plataforma donde almacenas todos los proyectos guardados en tus repositorios</div>
                    </div>
                    <label for="item-comment" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="item-comment" name="github_visible" class="sr-only" 
                        {% if user.docente.cv_docente.privacidad.github_visible %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
            </div>
            <div class="mt-10">
            </div>
        </div>
    </div>
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800 xl:mb-0">
        <div class="flow-root">
            <h3 class="text-xl font-semibold dark:text-white">Comunicación</h3>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Selecciona como deseas que te envien un correo</p>
            <div class="divide-y divide-gray-200 dark:divide-gray-700">
                <!-- Item 1 -->
                <div class="flex items-center justify-between py-9">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Gmail</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Permite que te envien correos electrónicos y te contacten mediante Gmail</div>
                    </div>
                    <label for="item-gmail" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="item-gmail" name="gmail_enviable" class="sr-only" 
                        {% if user.docente.cv_docente.privacidad.gmail_enviable %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
                <!-- Item 2 -->
                <div class="flex items-center justify-between py-9">
                    <div class="flex flex-col flex-grow">
                        <div class="text-lg font-semibold text-gray-900 dark:text-white">Outlook</div>
                        <div class="text-base font-normal text-gray-500 dark:text-gray-400">Permite que te envien correos electrónicos y te contacten mediante Gmail</div>
                    </div>
                    <label for="item-outlook" class="relative flex items-center cursor-pointer">
                        <input type="checkbox" id="item-outlook" name="outlook_enviable" class="sr-only" 
                        {% if user.docente.cv_docente.privacidad.outlook_enviable %} checked {% endif %}>
                        <span class="h-6 bg-gray-200 border border-gray-200 rounded-full w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const data = {
                field: checkbox.name,  // El nombre del campo (cedula, telefono, etc.)
                value: checkbox.checked // El valor del checkbox (true o false)
            };

            fetch("{% url 'update_privacy_teacher' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Incluye el token CSRF para seguridad
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
</script>

<script>
    document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const data = {
                field: checkbox.name,  // El nombre del campo (cedula, telefono, etc.)
                value: checkbox.checked // El valor del checkbox (true o false)
            };

            fetch("{% url 'update_privacy_cv' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Incluye el token CSRF para seguridad
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
</script>

{%endblock%}
